<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorieVis</servlet-name>
        <servlet-class>servlet.CategorieVis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdottiVis</servlet-name>
        <servlet-class>servlet.ProdottiVis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaCa</servlet-name>
        <servlet-class>servlet.EliminaCa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaPro</servlet-name>
        <servlet-class>servlet.EliminaPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaCa</servlet-name>
        <servlet-class>servlet.ModificaCa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaCa2</servlet-name>
        <servlet-class>servlet.ModificaCa2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaPro</servlet-name>
        <servlet-class>servlet.ModificaPro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciCa</servlet-name>
        <servlet-class>servlet.InserisciCa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciPro</servlet-name>
        <servlet-class>servlet.InserisciPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>internalmail.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorieVis</servlet-name>
        <url-pattern>/CategorieVis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdottiVis</servlet-name>
        <url-pattern>/ProdottiVis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaCa</servlet-name>
        <url-pattern>/EliminaCa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaPro</servlet-name>
        <url-pattern>/EliminaPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaCa</servlet-name>
        <url-pattern>/ModificaCa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaCa2</servlet-name>
        <url-pattern>/ModificaCa2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaPro</servlet-name>
        <url-pattern>/ModificaPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciCa</servlet-name>
        <url-pattern>/InserisciCa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciPro</servlet-name>
        <url-pattern>/InserisciPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
